<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

    
    <link rel="stylesheet" href="../../assets/css/lib/ui-lib.css" >
    <link rel="stylesheet" href="../../assets/css/ui/com/input.css">
    <link rel="stylesheet" href="../../assets/css/ui/com/fake_select.css">
    <link rel="stylesheet" href="../../assets/css/ui/com/media-quary.css">
    <link rel="stylesheet" href="../../assets/css/ui/com/button.css">
    <link rel="stylesheet" href="../../assets/css/ui/com/common.css">
    <link rel="stylesheet" href="../../assets/css/ui/com/layout.css">
    <link rel="stylesheet" href="../../assets/css/ui/com/default.css">
    <link rel="stylesheet" href="../../assets/css/ui/com/style.css">
    <link rel="stylesheet" href="../../assets/css/ui/com/header.css"/>
    <link rel="stylesheet" href="../../assets/css/ui/com/table.css"/>
    <link rel="stylesheet" href="../../assets/css/ui/com/text.css"/>

    <link rel="stylesheet" href="../../assets/css/lib/swiper-bundle.min.css"/>
    <link rel="stylesheet" href="../../assets/css/lib/ui_plugin.css"/>
    
    
    <script type="text/javascript" src="../../assets/js/lib/jquery-1.12.4.js"></script>
    <script type="text/javascript" src="../../assets/js/lib/jquery-ui.min.js"></script>
    <script type="text/javascript" src="../../assets/js/lib/ui_plugin.js"></script>
    <script type="text/javascript" src="../../assets/js/lib/swiper-bundle.min.js"></script>
    <script type="module" src="../../assets/js/ui/com/fake_select.js"></script>
    <!-- <script type="module" src="../../assets/js/ui/com/popup.js"></script> -->
    <script type="text/javascript" src="../../assets/js/ui/com/header.js"></script>
    <script type="text/javascript" src="../../assets/js/ui/com/scrollTopBtn.js"></script>
    <script type="text/javascript" src="../../assets/js/ui/com/layout.js"></script>



    <title>자유 게시판</title>
</head>

<style>
    
</style>
<body>
    <div class="wrap">
        <header>
            <div class="top-bar">
                <div class="inner">
                    <div class="auth-links">
                        <a href="#login" class="btn-login line">로그인</a>
                        <a href="#signup" class="btn-signup">회원가입</a>
                    </div>
                </div>
            </div>
            <nav id="gnbFull" aria-label="주요 메뉴">
                
                <div class="inner">
                    <a href="#" class="logo" aria-label="홈으로">
                        <img src="../../assets/images/logo.png" alt="">
                        <span>valueup</span>
                    </a>

                    <ul class="menu-list" role="menubar">
                        
                        <li class="menu-item" role="none">
                            <a href="#secondPage" role="menuitem" aria-haspopup="true" aria-expanded="false">공지사항</a>
                            <div class="menu-sub" role="menu" aria-label="공지사항 하위메뉴">
                                <ul>
                                    <li><a href="#">공지사항 등록</a></li>
                                    <li><a href="#">공지사항 목록조회</a></li>
                                    <li><a href="#">공지사항 수정/삭제</a></li>
                                </ul>
                            </div>
                        </li>
                        <li class="menu-item" role="none">
                            <a href="#thirdPage" role="menuitem" aria-haspopup="true" aria-expanded="false">일반게시판</a>
                            <div class="menu-sub" role="menu" aria-label="일반게시판 하위메뉴">
                                <ul>
                                    <li><a href="#">게시글 작성</a></li>
                                    <li><a href="#">게시글 목록조회</a></li>
                                    <li><a href="#">게시글 수정/삭제</a></li>
                                </ul>
                            </div>
                        </li>
                        <li class="menu-item" role="none">
                                <a href="#thirdPage" role="menuitem" aria-haspopup="true" aria-expanded="false">사진게시판</a>
                                <div class="menu-sub" role="menu" aria-label="사진게시글 하위메뉴">
                                    <ul>
                                        <li><a href="#">사진게시글 작성</a></li>
                                        <li><a href="#">사진게시글 목록조회</a></li>
                                    </ul>
                                </div>
                            </li>
                        <li class="menu-item" role="none">
                            <a href="#firstPage" role="menuitem" aria-haspopup="true" aria-expanded="false">회원서비스</a>
                            <div class="menu-sub" role="menu" aria-label="회원서비스 하위메뉴">
                                <ul>
                                    <li><a href="#">내정보변경</a></li>
                                    <li><a href="#">회원탈퇴</a></li>
                                </ul>
                            </div>
                        </li>
                    </ul>

                    <div class="hamburger-container">
                        <button id="btnMobileMenu" class="hamburger" aria-label="전체 메뉴 열기" aria-controls="mobileMenu" aria-expanded="false">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-menu hamburger-icon"><line x1="4" x2="20" y1="12" y2="12"/><line x1="4" x2="20" y1="6" y2="6"/><line x1="4" x2="20" y1="18" y2="18"/></svg>
                        </button>
                    </div>
                </div>
            </nav>
        </header>


        <div class="contentWrap">
            <div class="contArea">
                <div class="breadcrumb">
                    <div class="inner">
                        <a href="#" class="home ir">홈</a>><a href="#">고객지원</a>><span>자유게시판</span>
                    </div>
                </div>
                <div class="inner">
                    <h2 class="sec-tit"><img src="../../assets/images/Icon.png" class="upicon">자유 게시판</h2>
                    
                    <div class="form-group mt60 searchBd">
                        <div class="flex-row gap5">
                            <div class="col col-4">
                                <div id="phn-first" class="se-select" data-stove="select" data-uicase="slide">
                                    <div class="e-hidden-title">TITLE</div>
                                    <select required="" title="">
                                        <option value="" hidden="">안녕</option>
                                        <option value="0">000</option>
                                        <option value="1">111</option>
                                        <option value="2">222</option>
                                        <option value="3">333</option>
                                        <option value="4">444</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col">
                                <input id="search-input" type="text" class="form-control ipt-pd-r" placeholder="입력해주세요">
                                <span class="ipt-right ico flex-row gap10"><button type="reset" class="btn btn-ipt-clear"><span class="sr-only">삭제버튼</span></button><button type="button" class="btn btn-ipt-search"><span class="sr-only">검색버튼</span></button></span>
                            </div>
                        </div>
                    </div>
                    
                    <div class="btn-sec mt30">
                        <button class="btn-sm">글쓰기</button>
                    </div>
                    <div class="table-wrap">
                        <div class="table-type1 ft-sticky">
                            <table>
                                <caption>자유 게시판- 번호, 카테고리, 작성자, 제목, 작성일, 조회수</caption>
                                <colgroup>
                                    <col width="10%">
                                    <col width="20%">
                                    <col width="20%">
                                    <col width="30%">
                                    <col width="20%">
                                    <col width="10%">
                                </colgroup>
                                <thead>
                                    <tr>
                                        <th scope="row">번호</th>
                                        <th scope="row">카테고리</th>
                                        <th scope="row">작성자</th>
                                        <th scope="row">제목</th>
                                        <th scope="row">작성일</th>
                                        <th scope="row">조회수</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>43</td>
                                        <td>css</td>
                                        <td>망아지3</td>
                                        <td>가가가가가가가</td>
                                        <td>2025-10-01</td>
                                        <td>10</td>
                                    </tr>
                                    <tr>
                                        <td>43</td>
                                        <td>css</td>
                                        <td>망아지3</td>
                                        <td>가가가가가가가</td>
                                        <td>2025-10-01</td>
                                        <td>10</td>
                                    </tr>
                                    <tr>
                                        <td>43</td>
                                        <td>css</td>
                                        <td>망아지3</td>
                                        <td>가가가가가가가</td>
                                        <td>2025-10-01</td>
                                        <td>10</td>
                                    </tr>
                                    <tr>
                                        <td>43</td>
                                        <td>css</td>
                                        <td>망아지3</td>
                                        <td>가가가가가가가</td>
                                        <td>2025-10-01</td>
                                        <td>10</td>
                                    </tr>
                                    <tr>
                                        <td>43</td>
                                        <td>css</td>
                                        <td>망아지3</td>
                                        <td>가가가가가가가</td>
                                        <td>2025-10-01</td>
                                        <td>10</td>
                                    </tr>
                                    <tr>
                                        <td>43</td>
                                        <td>css</td>
                                        <td>망아지3</td>
                                        <td>가가가가가가가</td>
                                        <td>2025-10-01</td>
                                        <td>10</td>
                                    </tr>
                                    <tr>
                                        <td>43</td>
                                        <td>css</td>
                                        <td>망아지3</td>
                                        <td>가가가가가가가</td>
                                        <td>2025-10-01</td>
                                        <td>10</td>
                                    </tr>
                                    <tr>
                                        <td>43</td>
                                        <td>css</td>
                                        <td>망아지3</td>
                                        <td>가가가가가가가</td>
                                        <td>2025-10-01</td>
                                        <td>10</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div id="paging_div" class="pagination-wrap">
                        <div class="pagination">
                            <a class="btn-circle prevDb nb ir" href="javascript:pageFunc.selectNoticeList(1)">이전</a>
                            <a class="btn-circle prev nb ir" href="javascript:pageFunc.selectNoticeList(1)">이전</a>
                            <ul>
                                <li><a href="#" onclick="pageFunc.selectNoticeList(1)" class="btn-circle nb">1</a></li>
                                <li><a href="#" onclick="pageFunc.selectNoticeList(2)" class="btn-circle nb active" title="현재페이지">2</a></li>
                            </ul>
                            <a class="btn-circle next nb ir" href="javascript:pageFunc.selectNoticeList(3)">다음</a>
                            <a class="btn-circle nextDb nb ir" href="javascript:pageFunc.selectNoticeList(3)">다음</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <aside id="mobileMenu" role="dialog" aria-modal="true" aria-hidden="true" aria-labelledby="mobileMenuTitle">
            <div class="backdrop" data-close="backdrop"></div>
            <div class="sheet">
                <header>
                    <h2 id="mobileMenuTitle" style="margin:0;font-size:18px;">전체 메뉴</h2>
                    <button type="button" class="close" id="mobileClose">
                        <svg xmlns="http://www.w3.org/2000/svg"
                            width="24" height="24"
                            viewBox="0 0 24 24"
                            fill="none"
                            stroke="currentColor"
                            stroke-width="2"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            class="lucide lucide-x close-icon">
                        <line x1="18" y1="6" x2="6" y2="18"/>
                        <line x1="6" y1="6" x2="18" y2="18"/>
                        </svg>

                    </button>
                </header>
                <nav aria-label="전체 메뉴">
                    <div class="top-bar">
                        <div class="inner">
                            <div class="auth-links">
                            <a href="#login" class="btn-login line">로그인</a>
                            <a href="#signup" class="btn-signup">회원가입</a>
                            </div>
                        </div>
                    </div>
                    <ul style="list-style:none; margin:0; padding:0">
                        <li class="m-acc">
                            <button class="m-acc-btn" aria-expanded="false">회사 소개</button>
                            <div class="m-acc-panel m-sub">
                                <a href="#">인사말</a>
                                <a href="#">연혁</a>
                                <a href="#">오시는 길</a>
                            </div>
                        </li>
                        <li class="m-acc">
                            <button class="m-acc-btn" aria-expanded="false">고객지원</button>
                            <div class="m-acc-panel m-sub">
                                <a href="#">공지사항</a>
                                <a href="#">문의하기</a>
                            </div>
                        </li>
                        <li><a class="m-link" href="#">이벤트</a></li>
                        <li><a class="m-link" href="#">블로그</a></li>
                    </ul>
                </nav>
            </div>
        </aside>

        <button id="scrollToTopBtn" title="맨 위로">↑</button>
        <footer class="site-footer">
            <p>&copy; 2025 ValueUp Challenge. All rights reserved.</p>
        </footer>
    </div>
</body>
</html>



